@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}

dl {
  width: 100%;
  margin-bottom: 20px;
}

dl:after {
  display: block;
  clear: both;
  content: "";
}

dt {
  width: 100px;
  float: left;
  font-weight: bold;
}

dd {
  float: left;
}