<h1>My First Angular 2 App</h1>
<dl>
  <dt>clickのテスト</dt>
  <dd>
    <button (click)="onClick()">Click Me!</button>
    {{clickMessage}}
  </dd>
</dl>

<dl>
  <dt>valueのテスト</dt>
  <dd>
    <input [value]="valName">
    valName: {{valName}}
  </dd>
</dl>

<dl>
  <dt>ngModelのテスト</dt>
  <dd>
    <input [(ngModel)]="modelName">
    modelName: {{modelName}}
  </dd>
</dl>

<dl>
  <dt>@inputのテスト</dt>
  <dd>
    <user-account userName="田中" fullName="田中太郎丸"></user-account>
  </dd>
</dl>

<dl>
  <dt>ngFor（ng-repeat）のテスト</dt>
  <dd>
    <table>
      <thead>
        <tr>
          <th>名前</th>
          <th>ふりがな</th>
          <th>学年</th>
          <th>組</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#item of lists">
          <td>{{item.name}}</td>
          <td>{{item.huri}}</td>
          <td>{{item.schoolYear}}</td>
          <td>{{item.set}}</td>
        </tr>
      </tbody>
    </table>

  </dd>
</dl>

<!-- <button [routerLink]="['App2']">app2へ</button> -->
<button >page2へ</button>


    <!-- <h1>{{title}}</h1> -->
    <nav>
<!--       <a [routerLink]="['Page1']">Page1へ</a>
      <a [routerLink]="['Page2']">Page2へ</a> -->
    </nav>
    <!-- <router-outlet></router-outlet> -->